.button-box{
    max-width: 500px;
    width: 90%;
    margin-top: -53px;
    margin-left: 660px;

}
.btn-danger-my{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

    margin-left: 591px !important;
    margin: -63px;
}